/* фон за цялата страница */
body {
    background-color: lightgreen;
}

h1 {
    background-color: green;
    color: #1ec9ac;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 40px;
}

th {
    background-color: blue;
}

nav {
  position: absolute;
  background-color: grey;
}

.logo {
    height: 10px;
    width: auto;
}

h1 {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

p, li {
    font-family: Times New Roman;
    font-weight: normal;
    font-style: normal;
}
