<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
		<meta name="viewport" content="width=device-width" initial-scale="1">
		<link rel="stylesheet" href="picnic.css">
		<link rel="stylesheet" href="style.css">
    </head>
    <body>
		<nav>
			<a href="index.html" class="brand">
				<img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Blmexcavsm.jpg" />
				<span>ТрБа ООД</span>
			</a>

			<!-- responsive-->
			<input id="mymenu" type="checkbox" class="show">
			<label for="mymenu" class="burger pseudo button">меню</label>

			<div class="menu">
				<a href="traktori.html" class="{% if page.name != 'traktori.html' %} pseudo {% endif %} button icon-picture">Трактори</a>
				<a href="bageri.html" class="{% if page.name != 'bageri.html' %} pseudo {% endif %} button icon-puzzle">Багери</a>
			</div>
		</nav>
        <h1>{{ page.title }}</h1>
		{{ content }}
    </body>
</html>
